<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp">
	<icon>
		<small-icon>/WEB-INF/eclipse.gif</small-icon>
		<large-icon>/WEB-INF/eclipse32.gif</large-icon>
	</icon>
	<display-name>Infocenter</display-name>
	<description>Information center web application.  Redirects all requests to help server in Eclipse.</description>
	<distributable />
	<servlet>
		<servlet-name>RedirectServlet</servlet-name>
		<display-name>RedirectServlet</display-name>
		<servlet-class>org.eclipse.help.servlet.RedirectServlet</servlet-class>
		<init-param>
			<param-name>HELP_SERVICE_URL</param-name>
			<param-value>http://dev.eclipse.org:8080/help</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>
</web-app>
